# Environment Variables (Secrets)
.env
*.env
.env.http.local
application-local.yml

# IDEs
.idea/
*.iml
.vscode/

# Maven (Java)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Python (Microservices)
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Python Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Local Model Weights (ONNX)
onnx_model/

# Logs
*.log
logs/
implementation_plan.md


# Misc
hf_cache/
issues/
logs/
*.log
issue_*.md
issue_final_*

#md
deploy_gcr_backend.md
setup_colab_llm.md
setup_gcp_vm.md
SSH-VMmodel.md
test_hf_api.py
fake_jira_scrum.csv

#frontend demo
frontend-demo
*/node_modules/

#report
overleaf-templates/
report_tex/
chart.md

#docs
docs/